{% set fluentd = salt['grains.filter_by']({
    'default': {
        'service': 'fluentd',
        'conf_file': '/etc/fluent/fluent.conf',
        'global_log_level': 'info'
    },
    'Debian': {
        'pkgs': [
            'ruby',
            'ruby-dev',
            'build-essential'
        ]
    },
    'RedHat': {
        'pkgs': [
            'ruby',
            'ruby-devel',
            'gcc',
            'make'
        ]
    },
}, grain='os_family', merge=salt.pillar.get('fluentd:lookup'), base='default') %}

{% set fluentd_service = {
    'systemd': {
        'destination_path': '/etc/systemd/system/fluentd.service',
        'source_path': 'fluentd.service',
    },
    'upstart': {
        'destination_path': '/etc/init/fluentd.conf',
        'source_path': 'fluentd.upstart',
    }
} %}
