{% set fluentd = salt['grains.filter_by']({
    'default': {
        'version': None,
        'service': 'fluentd',
        'conf_file': '/etc/fluent/fluent.conf',
        'global_log_level': 'info',
        'nginx_config': {
            'cert_file': 'fluentd.example.com.crt',
            'key_file': 'fluentd.example.com.key'
        },
        'ssl_directory': '/etc/ssl',
        'nginx_site_path': '/etc/nginx/sites-enabled'
    },
    'Debian': {
        'pkgs': [
            'ruby',
            'ruby-dev',
            'build-essential'
        ]
    },
    'RedHat': {
        'pkgs': [
            'ruby',
            'ruby-devel',
            'gcc',
            'make'
        ]
    },
}, grain='os_family', merge=salt.pillar.get('fluentd:overrides'), base='default') %}

{% set fluentd_service = salt.grains.filter_by({
    'systemd': {
        'destination_path': '/etc/systemd/system/fluentd.service',
        'source_path': 'fluentd.service',
    },
    'upstart': {
        'destination_path': '/etc/init/fluentd.conf',
        'source_path': 'fluentd.upstart',
    }
}, grain='init', merge=salt.pillar.get('fluentd:init_service')) %}
