{% set fluentd = salt['grains.filter_by']({
    'default': {
        'version': None,
        'service': 'fluentd',
        'user': 'fluentd',
        'group': 'fluentd',
        'conf_file': '/etc/fluent/fluent.conf',
        'global_log_level': 'info',
        'nginx_config': {
            'cert_file': 'fluentd.example.com.crt',
            'key_file': 'fluentd.example.com.key'
        },
        'ssl_directory': '/etc/ssl',
        'nginx_site_path': '/etc/nginx/sites-enabled',
        'ruby_version': '2.5.7'
    },
    'Debian': {
        'pkgs': [
            'ruby',
            'git',
            'openssl',
            'libssl-dev',
            'make',
            'curl',
            'autoconf',
            'bison',
            'build-essential',
            'libffi-dev',
            'libyaml-dev',
            'libreadline-dev',
            'zlib1g-dev',
            'libncurses5-dev'
        ]
    },
    'Ubuntu': {
        'pkgs': [
            'ruby',
            'git',
            'openssl',
            'libssl-dev',
            'make',
            'curl',
            'autoconf',
            'bison',
            'build-essential',
            'libffi-dev',
            'libyaml-dev',
            'libreadline-dev',
            'zlib1g-dev',
            'libncurses5-dev'
        ]
    },
    'CentOS': {
        'pkgs': [
            'gcc',
            'ruby',
            'git',
            'openssl',
            'openssl-devel',
            'make',
            'curl',
            'autoconf',
            'bison',
            'libffi-devel',
            'libyaml-devel',
            'readline-devel',
            'zlib-devel',
            'ncurses-devel',
            'pyOpenSSL'
        ]
    },
}, grain='os', merge=salt.pillar.get('fluentd:overrides'), base='default') %}

{% set fluentd_service = salt.grains.filter_by({
    'systemd': {
        'destination_path': '/etc/systemd/system/fluentd.service',
        'source_path': 'fluentd.service',
    },
    'upstart': {
        'destination_path': '/etc/init/fluentd.conf',
        'source_path': 'fluentd.upstart',
    }
}, grain='init', merge=salt.pillar.get('fluentd:init_service')) %}
